#Count or frequency encoding
##High Cardinality


Another way to refer to variables that have a multitude of categories, is to call them variables with high cardinality.

If we have categorical variables containing many multiple labels or high cardinality,then by using one hot encoding, we will expand the feature space dramatically.

One approach that is heavily used in Kaggle competitions, is to replace each label of the categorical variable by the count, this is the amount of times each label appears in the dataset. Or the frequency, this is the percentage of observations within that category. The 2 are equivalent.

Let's see how this works:

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/mercedesbenz.csv', usecols=['X1', 'X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [ ]:
df.shape

(4209, 2)

In [ ]:
for col in df.columns[0:]:
    print(col, ': ', len(df[col].unique()), ' labels')

X1 :  27  labels
X2 :  44  labels

In [ ]:
# let's obtain the counts for each one of the labels in variable X2
# let's capture this in a dictionary that we can use to re-map the labels

df.X2.value_counts().to_dict()

{'a': 47,
 'aa': 1,
 'ac': 13,
 'ae': 496,
 'af': 1,
 'ag': 19,
 'ah': 4,
 'ai': 415,
 'ak': 265,
 'al': 5,
 'am': 1,
 'an': 5,
 'ao': 20,
 'ap': 11,
 'aq': 63,
 'ar': 1,
 'as': 1659,
 'at': 6,
 'au': 3,
 'av': 4,
 'aw': 8,
 'ay': 54,
 'b': 21,
 'c': 1,
 'd': 18,
 'e': 81,
 'f': 87,
 'g': 12,
 'h': 6,
 'i': 25,
 'j': 1,
 'k': 25,
 'l': 1,
 'm': 367,
 'n': 137,
 'o': 1,
 'p': 4,
 'q': 5,
 'r': 153,
 's': 94,
 't': 29,
 'x': 10,
 'y': 11,
 'z': 19}

In [ ]:
# And now let's replace each label in X2 by its count

# first we make a dictionary that maps each label to the counts
df_frequency_map = df.X2.value_counts().to_dict()

In [ ]:
df.head(100)

    X1  X2
0    v  at
1    t  av
2    w   n
3    t   n
4    v   n
..  ..  ..
95   b   m
96   l  as
97  aa  as
98   b   m
99   s   m

[100 rows x 2 columns]

In [ ]:
# and now we replace X2 labels in the dataset df
df.X2 = df.X2.map(df_frequency_map)

df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137


There are some advantages and disadvantages that we will discuss now

#Advantages
It is very simple to implement

Does not increase the feature dimensional space
#Disadvantages
If some of the labels have the same count, then they will be replaced with the same count and they will loose some valuable information.

2 Adds somewhat arbitrary numbers, and therefore weights to the different labels, that may not be related to their predictive power

Follow this thread in Kaggle for more information: https://www.kaggle.com/general/16927